.main{
    width: 100%;
    min-height: 100vh;
   display: flex;
   flex-direction:column; 
   align-items: center;

background-color: var(--grey);
margin-top: var(--marginTopNum);
margin-bottom: var(--marginTopNum);

}

.firstDiv{
    width: 70rem;
    display: flex;
    padding: .5em;
    font-size: var(--text15);


    margin-top: 1em;
margin-bottom: var(--marginTopNum);
    text-decoration: underline;

    margin-bottom: 2em;
    /* border: .4em solid red; */

}

.secondDiv{
     width: 80rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
color:black;


}

.boxes{
  width: 15rem;
  height: 25rem;
}

.secondDiv img{
  width: 15rem;
  height: 20rem;
}

.boxes:hover{
  transition: var(--transition);
  transform: scale(1.3);
}


