.main{
    width: 100%;
 min-height:100vh;
   display: flex;
   flex-direction:column; 
   align-items: center;
justify-content:center;

  background-color: var(--grey);
margin-top: var(--marginTopNum);
    margin-bottom: var(--marginTopNum);
}

.firstDiv{
    width: 70rem;
    display: flex;
    padding: .5em;
    font-size: var(--text15);


margin-top: var(--marginTopNum);
margin-bottom: var(--marginTopNum);
    text-decoration: underline;

    margin-bottom: 2em;
    /* border: .2em solid red; */

}

.secondDiv{
     width: 70rem;
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
    padding-top: 5em;
    padding-left: 3em;

        /* border: .2em solid red; */

}


.boxesThreee{

   width: 40rem;

    display: flex;
    flex-direction: column;



/* border: 2px solid blue; */

}

.box{
width: 23rem;
height: 39rem;
background-color: var(--white);
display: flex;
flex-direction: column;
box-shadow: 5px 12px 12px  black;
font-size: 1rem;



}

.box img{
    width: 100%;
    height: 17rem;
}
.box div{
    padding: 1em;
}

.box div:nth-child(2){
  
    font-size: var(--boxHeadline);
    margin-top: 1em;



}


.box div:nth-child(3) {
    margin-top: 1em;
   

}

.boxesThreee .box:nth-child(1) {


    z-index: 6;
}

.boxesThreee .box:nth-child(2){

   margin-left: -4em;
    margin-top: -40em;

    z-index: 5;
}

.boxesThreee .box:nth-child(3) {

    margin-left: -8em;
    margin-top: -40em;
    z-index: 4;
}


.brojevi{
    margin-top: 2em;
 width: 22rem;
  color: var(--white);

display: flex;
flex-direction: column;
align-items: flex-end;
z-index: 10;
font-size: var(--boxHeadline);




}
.brojevi div{
    width: 100%;
    padding: 1.5em;

    display: flex;
    align-items: center;
 justify-content: space-between;
}

.brojevi div:nth-child(1) span{
width: 85%;
    padding: .1em;
    background-color: var(--white);
    color: black;
}


 .brojevi div:hover {

     color: #ffc65dff;

 }


 .brojevi div:hover span{
 width: 85%;
 padding: .1em;
 background-color: var(--yellow);

} 

@media(max-width: 75rem){


.boxesThreee .box:nth-child(2) {

        margin-left: 2em;
        margin-top: -40em;

        z-index: 5;
    }

    .boxesThreee .box:nth-child(3) {

        margin-left: 4em;
        margin-top: -40em;
        z-index: 4;
    }


} 



@media(max-width: 70rem) {
.firstDiv {
        width: 60rem;
        display: flex;
        padding: .5em;
        font-size: var(--text15);


        margin-top: var(--marginTopNum);
        margin-bottom: var(--marginTopNum);
        text-decoration: underline;

        margin-bottom: 2em;
        /* border: .4em solid red; */

    }

    .secondDiv {
        width: 60rem;
        display: flex;

        justify-content: space-between;
        align-items: flex-start;
        padding-top: 5em;
        padding-left: 3em;



    }


    .boxesThreee {

        width: 34rem;

        display: flex;
        flex-direction: column;



    }

    .box {
        width: 23rem;
        height: 38rem;
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        box-shadow: 5px 12px 12px black;

    }

    .box img {
        width: 100%;
        height: 17rem;
    }

    .box div {
        padding: 1.5em;
    }

    .box div:nth-child(2) {

        font-size: var(--boxHeadline);
        margin-top: 1em;

      

    }


    .box div:nth-child(3) {
        margin-top: 1em;
        font-size: var(--text11);

    }

    .boxesThreee .box:nth-child(1) {


        z-index: 6;
    }

          .boxesThreee .box:nth-child(2) {
    
              margin-left: 1em;
              margin-top: -40em;
    
              z-index: 5;
          }
    
          .boxesThreee .box:nth-child(3) {
    
              margin-left: 1em;
              margin-top: -40em;
              z-index: 4;
          }


    .brojevi {
        margin-top: 5em;
        width: 21rem;
        color: var(--white);

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 10;
        font-size: var(--boxHeadline);




    }

    .brojevi div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .brojevi div:nth-child(1) span {
        width: 85%;
        padding: .1em;
        background-color: var(--white);
        color: black;
    }

  

}





@media(max-width: 60rem) {


    .firstDiv {
        width: 40rem;
        display: flex;
        padding: 1em;
        font-size: var(--text15);


        margin-top: var(--marginTopNum);
        margin-bottom: var(--marginTopNum);
        text-decoration: underline;

        /* border: .4em solid red; */

    }

    .secondDiv {
        width: 40rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        justify-content: space-between;

        padding-top: 0m;
        padding-left: 0em;



    }


    .boxesThreee {

        width: 34rem;

        display: flex;
        flex-direction: column;
        align-items: center;



    }

    .box {
        width: 22rem;
        height: 38rem;
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        box-shadow: 5px 12px 12px black;
        margin-bottom: var(--marginTopNum);

    }

    .box img {
        width: 100%;
        height: 17rem;
    }

    .box div {
        padding: 1em;
    }

    .box div:nth-child(2) {

        font-size: var(--boxHeadline);
        margin-top: 1em;

        /* background-color: red; */

    }


    .box div:nth-child(3) {
        margin-top: 1em;
        font-size: var(--text11);

    }

    .boxesThreee .box:nth-child(1) {


        z-index: 6;
    }

    .boxesThreee .box:nth-child(2) {

        margin-left: 0em;
        margin-top: 0em;

        z-index: 5;
    }

    .boxesThreee .box:nth-child(3) {

        margin-left: 0em;
        margin-top: 0em;
        z-index: 4;
    }


    .brojevi {


        display: none;


    }



}




@media(max-width: 40rem) {
    .firstDiv {
        width: 100%;
        display: flex;
        padding: 1em;
        font-size: var(--text15);


        margin-top: var(--marginTopNum);
        margin-bottom: var(--marginTopNum);
        text-decoration: underline;

        /* border: .4em solid red; */

    }

    .secondDiv {
       width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        justify-content: space-between;

      
        padding-left: 0em;



    }


    .boxesThreee {

        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;



    }

    .box {
        width: 20rem;
        height: 36rem;
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        box-shadow: 5px 12px 12px black;
        margin-bottom: var(--marginTopNum);

    

    }

    .box img {
        width: 100%;
        height: 16rem;
    }

    .box div {
        padding: 1em;
    }

    .box div:nth-child(2) {

        font-size: var(--boxHeadline);
        margin-top: 1em;

        /* background-color: red; */

    }


    .box div:nth-child(3) {
        margin-top: 1em;
        font-size: var(--text11);

    }

    .boxesThreee .box:nth-child(1) {


        z-index: 6;
    }

    .boxesThreee .box:nth-child(2) {

        margin-left: 0em;
        margin-top: 0em;

        z-index: 5;
    }

    .boxesThreee .box:nth-child(3) {

        margin-left: 0em;
        margin-top: 0em;
        z-index: 4;
    }


    .brojevi {


        display: none;


    }



}





