

@import url('https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&family=Goldman:wght@400;700&display=swap');


* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: pointer;
  font-family: "Goldman", sans-serif;
   font-weight: 400;
  font-style: normal;


}


:root {
  --blue:#0c4072;
  --yellow: #d69d32;
  --grey: #d9d9d9;
  --white:#ffffff;


  --borderRadius:.5em;
  --transition:.5s;
  --marginTopNum:3em;


  --text15:1.5rem;
  --text12: 1.2rem;
  --text11:1.1rem;


  --pocetnaSM:1.9rem;
  --pocetnaLG:2.5rem;


/* NAVBAR */

--navYellow:1rem;
--navItems:1.15rem;
--nav960:1.1rem;


/* POCETNA */
--pocetnaBrojevi:1rem;
--pocetnaBrojevi:1.1rem;



  --onamaICon:2rem;

  /* Usluge */
 --boxHeadline:1.2rem;
 /* TRANSPORT */

 --transportIcons:2rem;

 /* Galerija */
 --galerijaStrelice:3rem;
 --galerijaX:1.8rem;


/* Contact */
--contactHeadline:2rem;
--contactIcons:1.5rem;

}


@media(max-width: 80rem) {
:root {

    --marginTopNum: 3em;


    --text15: 1.4rem;
    --text12: 1.15rem;
    --text11: 1.05rem;


    --pocetnaSM: 1.6rem;
    --pocetnaLG: 2.2rem;


    /* NAVBAR */

    --navYellow: 1rem;
    --navItems: 1.1rem;


    /* POCETNA */
    --pocetnaBrojevi: 1rem;
    --pocetnaBrojevi: 1.1rem;



    --onamaICon: 2rem;

    /* Usluge */
    --boxHeadline: 1.1rem;
    /* TRANSPORT */

    --transportIcons: 2rem;

    /* Galerija */
    --galerijaStrelice: 3rem;
    --galerijaX: 1.8rem;


    /* Contact */
    --contactHeadline: 2rem;
    --contactIcons: 1.5rem;

  }

}











@media(max-width: 70rem) {
  :root {

    --marginTopNum: 3em;


    --text15: 1.4rem;
    --text12: 1.1rem;
    --text11: 1rem;


    --pocetnaSM: 1.5rem;
    --pocetnaLG: 1.8rem;


    /* NAVBAR */

    --navYellow: 1rem;
    --navItems: 1.1rem;


    /* POCETNA */
    --pocetnaBrojevi: 1rem;
    --pocetnaBrojevi: 1.1rem;



    --onamaICon: 2rem;

    /* Usluge */
    --boxHeadline: 1.05rem;
    /* TRANSPORT */

    --transportIcons: 2rem;

    /* Galerija */
    --galerijaStrelice: 3rem;
    --galerijaX: 1.8rem;


    /* Contact */
    --contactHeadline: 2rem;
    --contactIcons: 1.5rem;

  }

}













@media(max-width: 60rem) {
  :root {

    --marginTopNum: 1.7em;


    --text15: 1.3rem;
    --text12: 1.1rem;
    --text11: 1rem;


    --pocetnaSM: 1.5rem;
    --pocetnaLG: 1.8rem;


    /* NAVBAR */

    --navYellow: 1rem;
    --navItems: 1.15rem;
    --nav960: 1.1rem;


    /* POCETNA */
    --pocetnaBrojevi: 1rem;
    --pocetnaBrojevi: 1.1rem;



    --onamaICon: 2rem;

    /* Usluge */
    --boxHeadline: 1.05rem;
    /* TRANSPORT */

    --transportIcons: 2rem;

    /* Galerija */
    --galerijaStrelice: 3rem;
    --galerijaX: 1.8rem;


    /* Contact */
    --contactHeadline: 1.7rem;
    --contactIcons: 1.25rem;

  }

}













@media(max-width: 50rem) {
  :root {

    --marginTopNum: 1em;


    --text15: 1.2rem;
    --text12: 1rem;
    --text11: .95rem;

    --pocetnaSM: 1.4rem;
    --pocetnaLG: 1.7rem;


    /* NAVBAR */

    --navYellow: 1rem;
    --navItems: 1.15rem;
    --nav960: 1rem;



    /* POCETNA */
    --pocetnaBrojevi: 1rem;
    --pocetnaBrojevi: 1.1rem;



    --onamaICon: 2rem;

    /* Usluge */
    --boxHeadline: 1rem;
    /* TRANSPORT */

    --transportIcons: 1.8rem;

    /* Galerija */
    --galerijaStrelice: 2.4rem;
    --galerijaX: 1.1rem;


    /* Contact */
    --contactHeadline: 1.3rem;
    --contactIcons: 1.05rem;

  }

}












